<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
    <h1>singup now</h1>
    <form method="post" action="/user">
        <label for="">Enter Name </label>
        <input type="text" name="username" placeholder="username">
        <label for="">Email</label>
        <input type="text" name="email" placeholder="email">
        <label for="">Enter Name </label>
        <input type="password" name="password" placeholder="password">

        <button type="submit">Sign Up</button>
        
    </form>
</body>
</html>